{% extends "base.html" %}
{% load static %}

{% block title %} Network Manager {% endblock %}


{% block content %}
  <br/>

  <div class="container">
    <div class="row justify-content-center">
      <a class="btn btn-lg btn-outline-success" href="{% url 'ip_manager:add_ip' %}"> Add IP </a>
    </div>
  </div>

  <hr>

  <!-- Main Content -->
  <div class="container">

    <table id="table" class="table table-striped table-bordered" style="width:100%"
           data-toggle="table" data-pagination="true"
           data-search="true" data-show-columns="true"
           data-show-pagination-switch="true" data-show-refresh="true"
           data-show-toggle="true"
           data-resizable="true"
           data-toolbar="#toolbar">
      <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
      </tr>
      </thead>

      <tbody>

      {#        {% for node in tree %}#}
      <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>$320,800</td>
      </tr>

      {#                                                                <td class="datatable-ct">#}
      {#                                                                    <a href="{% url 'waktyNet:add_child' node.account.id_account %}"><i#}
      {#                                                                            class="fa fa-user-plus"></i></a>#}
      {#                                                                    <a href="#"><i class="fa fa-user-edit"></i></a>#}
      {#                                                                    <a href="#"><i class="fa fa-trash"></i></a>#}
      {#                                                                </td>#}

      {#        {% endfor %}#}


      </tbody>
    </table>

  </div>

{% endblock content %}
