{% extends "base.html" %}
{% load static %}

{% block title %} SHOKR | NETWORK MANAGER {% endblock %}

{% block content %}
  <br/>

  <div class="container">
    <div class="row">
      <br/>
      <div class="col text-center">

        <a href="{% url 'ip_manager:home' %}">
          <h3>IP MANAGER</h3>
        </a>

        <br>
        <div>
          <h5> Admin Url: 127.0.0.1:8000/admin</h5>
          <h6>Admin User: Shokr</h6>
          <h6>Admin Password: 123456789</h6>
        </div>

        <br>
        <div>
          <h5> API Url: 127.0.0.1:8000/api</h5>
        </div>


      </div>

    </div>
  </div>
{% endblock content %}
